@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-text">Registrar</h1>
        <div class="row center">
            <h5 class="header col s12 light">El objetivo fundamental de este software es que usted pueda registrar los contactos y visitas que desee.</h5>
        </div>
        <div class="row center">
            <img src="~/imagenes/informe.jpg" alt="Alternate Text" height="350" width="400" class="rounded" />
        </div>
        <br><br>

    </div>
</div>









